git-filter-repo==2.47.0
notebook==7.4.5
truststore==0.10.1
shellingham==1.5.4
pkce==1.0.3
w3lib==2.1.2
isort==6.1.0
opencv-python-headless==4.11.0.86
conda-token==0.6.0
pyasn1==0.4.8
jiter==0.12.0
audioread==3.1.0
appscript==1.4.0
shapely==2.0.7
aext-share-notebook==4.26.1
python-slugify==5.0.2
termcolor==3.3.0
mpi4py==4.0.3
readchar==4.2.1
ply==3.11
lightgbm==4.6.0
coloredlogs==15.0.1
aext-toolbox==4.26.1
ctranslate2==4.6.3
mediapipe==0.10.32
tblib==3.1.0
humanfriendly==10.0
conda_package_streaming==0.12.0
thinc==8.2.5
gruut_lang_de==2.0.1
rfc3339-validator==0.1.4
pyobjc-framework-Cocoa==12.1
more-itertools==10.8.0
executing==0.8.3
SudachiDict-core==20251022
tables==3.10.2
oauthlib==3.3.1
pycodestyle==2.12.1
text-unidecode==1.3
lazy_loader==0.4
xlwings==0.33.15
GitPython==3.1.45
tomli==2.2.1
typer==0.17.4
conda_index==0.7.0
tldextract==5.1.2
llvmlite==0.44.0
decorator==5.1.1
importlib_metadata==8.5.0
jupyter_core==5.8.1
requests==2.32.5
plotly==6.3.0
setuptools==80.10.2
setuptools==82.0.0
semver==3.0.4
rich==14.2.0
traitlets==5.14.3
pybase64==1.4.3
urllib3==2.5.0
zstandard==0.23.0
jupyter_server==2.16.0
nest-asyncio==1.6.0
lz4==4.4.5
lightning-utilities==0.15.3
ujson==5.10.0
anaconda-anon-usage==0.7.4
jaraco.classes==3.2.1
kiwisolver==1.4.8
aext-core-server==4.26.1
boto3==1.42.68
spyder==6.1.0
spyder-kernels==3.1.1
langgraph-prebuilt==0.5.1
pandocfilters==1.5.0
wurlitzer==3.1.1
ptyprocess==0.7.0
langchain-community==0.3.7
conda-pack==0.8.1
prometheus_client==0.21.1
pydantic==2.12.3
typer-slim==0.21.1
pyct==0.6.0
uvicorn==0.41.0
docstring-to-markdown==0.17
pytz==2025.2
boltons==25.0.0
marshmallow==3.26.2
toml==0.10.2
json5==0.12.1
sphinxcontrib-htmlhelp==2.1.0
yfinance==1.0
opentelemetry-sdk==1.39.1
pytokens==0.2.0
torchmetrics==1.8.2
certifi==2026.1.4
overrides==7.7.0
webencodings==0.5.1
colorama==0.4.6
soxr==1.0.0
coqui-tts-trainer==0.2.2
trec-car-tools==2.6
python-lsp-jsonrpc==1.1.2
tinycss2==1.4.0
hvplot==0.12.1
zipp==3.21.0
intervaltree==3.1.0
jsonschema-specifications==2025.9.1
python-multipart==0.0.22
websockets==16.0
numexpr==2.11.0
itemadapter==0.3.0
h5py==3.14.0
PyNaCl==1.5.0
aiohttp-retry==2.9.1
alembic==1.17.2
flake8==7.1.1
autopep8==2.0.4
python-json-logger==3.2.1
aiohttp==3.11.10
ImageIO==2.37.2
defusedxml==0.7.1
jsonschema==4.25.0
stack-data==0.2.0
pylint==3.3.8
frozenlist==1.5.0
distributed==2025.11.0
jupyterlab_server==2.28.0
pyuca==1.2
openpyxl==3.1.5
pickleshare==0.7.5
PyPika==0.51.1
whatthepatch==1.0.7
ipywidgets==8.1.7
xyzservices==2025.4.0
spacy==3.7.5
cachetools==5.5.1
aext-core==4.26.1
async-lru==2.0.5
networkx==3.6.1
pytoolconfig==1.2.6
wheel==0.46.3
spacy-legacy==3.0.12
inflection==0.5.1
locket==1.0.0
jellyfish==1.1.3
blinker==1.9.0
tenacity==9.1.2
transformers==4.57.3
Flask==3.1.2
wrapt==1.17.0
smart_open==7.5.0
yapf==0.43.0
zope.interface==8.0.1
pytest==8.3.4
pycocotools==2.0.11
astroid==3.3.11
fire==0.7.1
seaborn==0.13.2
aext-assistant==4.26.1
mypy-extensions==1.0.0
warc3-wet-clueweb09==0.2.5
aext-assistant-server==4.26.1
imbalanced-learn==0.14.0
queuelib==1.8.0
gitdb==4.0.7
fsspec==2026.2.0
pyasn1-modules==0.2.8
SQLAlchemy==2.0.35
python-pptx==1.0.2
jupyter-console==6.6.3
jedi==0.19.2
anyascii==0.3.3
langchain-text-splitters==0.3.8
black==25.9.0
spacy-loggers==1.0.5
astropy-iers-data==0.2025.11.10.0.38.31
hyperlink==21.0.0
multidict==6.7.0
et_xmlfile==2.0.0
astropy==7.1.1
typing-inspect==0.9.0
zict==3.0.0
ormsgpack==1.12.2
langid==1.1.6
sphinxcontrib-qthelp==2.0.0
Unidecode==1.4.0
idna==3.11
inflect==7.5.0
fonttools==4.60.1
itsdangerous==2.2.0
ruamel-yaml-conda==0.17.21
ipympl==0.9.7
annotated-types==0.6.0
libmambapy==2.0.5
jupyter==1.1.1
PySocks==1.7.1
numpydoc==1.2
PyGithub==2.8.1
patsy==1.0.1
conda-anaconda-telemetry==0.3.0
aext_environments_server==4.26.1
sentence-transformers==2.7.0
python-lsp-ruff==2.3.0
cffi==2.0.0
catalogue==2.0.10
menuinst==2.4.1
jupyter_client==8.6.3
nuscenes-devkit==1.2.0
opentelemetry-exporter-otlp-proto-grpc==1.39.1
mdit-py-plugins==0.5.0
asttokens==3.0.0
jsonlines==1.2.0
tqdm==4.67.1
durationpy==0.10
dmglib==0.9.5
sounddevice==0.5.1
filelock==3.24.0
faiss-cpu==1.9.0.post1
pycurl==7.45.6
gruut==2.4.0
opentelemetry-proto==1.39.1
openai-whisper==20250625
python-crfsuite==0.9.12
anaconda-client==1.13.1
preshed==3.0.12
langchain-ollama==0.3.3
protobuf==5.29.3
starlette==0.52.1
jsonpatch==1.33
click==8.1.8
argon2-cffi==21.3.0
tzdata==2025.2
ipython_pygments_lexers==1.1.1
pyzmq==26.2.0
conda-build==25.9.0
appnope==0.1.4
anaconda-project==0.11.1
kubernetes==35.0.0
gruut-ipa==0.13.0
av==16.1.0
chromadb==1.5.2
pyodbc==5.2.0
bokeh==3.8.0
orjson==3.11.5
opentelemetry-api==1.39.1
applaunchservices==0.3.0
pillow==12.1.1
requests-file==2.1.0
langchain-openai==0.2.8
pytorch-lightning==2.6.1
PyQt5==5.15.10
QtAwesome==1.4.0
sip==6.7.12
parso==0.8.5
httpcore==1.0.9
s3fs==2025.10.0
playwright==1.58.0
sphinxcontrib-serializinghtml==2.0.0
mmh3==5.2.0
cookiecutter==1.7.3
pyls-spyder==0.4.0
markdown-it-py==2.2.0
srsly==2.5.2
confection==0.1.5
rpds-py==0.28.0
msgpack==1.1.1
uc-micro-py==1.0.3
ijson==3.4.0.post0
langgraph-sdk==0.1.74
matplotlib==3.10.5
nbformat==5.10.4
python-lsp-black==2.0.0
aioitertools==0.7.1
jupyterlab_widgets==3.0.15
librosa==0.11.0
pylint-venv==3.0.3
ir_datasets==0.5.11
beautifulsoup4==4.13.5
langchain-core==0.3.63
aiobotocore==2.25.0
appdirs==1.4.4
alabaster==0.7.16
regex==2025.9.1
onnxruntime==1.23.2
langchain-chroma==0.2.4
tomlkit==0.13.3
sympy==1.14.0
PyJWT==2.10.1
threadpoolctl==3.5.0
dataclasses-json==0.6.7
atomicwrites==1.4.0
pathspec==0.12.1
conda-repo-cli==1.0.173
sphinxcontrib-jsmath==1.0.1
torchaudio==2.5.1
pycparser==2.21
Automat==24.8.1
constantly==23.10.4
Werkzeug==3.1.3
Markdown==3.8
service-identity==24.2.0
diff-match-patch==20200713
anyio==4.10.0
evalidate==2.0.3
pyerfa==2.0.1.5
matplotlib-inline==0.2.1
PyQtWebEngine==5.15.6
pure-eval==0.2.2
sentry-sdk==2.45.0
python-dotenv==1.0.1
nbconvert==7.16.6
pyparsing==3.2.0
conda-content-trust==0.2.0
langgraph-checkpoint==2.1.2
jmespath==1.0.1
nb_conda_kernels==2.5.2
platformdirs==4.5.0
cymem==2.0.13
absl-py==2.3.1
watchfiles==1.1.1
soupsieve==2.5
loguru==0.7.3
prompt-toolkit==3.0.43
cycler==0.11.0
ipython==9.5.0
dateparser==1.1.8
pyobjc-framework-CoreServices==10.1
ipykernel==6.31.0
jupyter-lsp==2.2.5
metaflow==2.19.21
nbclient==0.10.2
h11==0.16.0
numpy==2.1.3
Deprecated==1.2.18
botocore==1.42.68
colorcet==3.1.0
roman-numerals-py==3.1.0
googleapis-common-protos==1.72.0
twilio==9.10.2
pkginfo==1.12.0
iniconfig==1.1.1
psutil==7.0.0
ruff==0.7.1
httptools==0.7.1
s3transfer==0.16.0
Protego==0.4.0
mdurl==0.1.2
python-dateutil==2.9.0.post0
mpmath==1.3.0
Sphinx==8.2.3
jupyterlab_pygments==0.3.0
pyspark==4.1.1
cloudpathlib==0.23.0
PyYAML==6.0.3
tifffile==2025.10.4
zlib-state==0.1.10
conda-anaconda-tos==0.2.2
num2words==0.5.14
ruamel.yaml==0.18.16
curl_cffi==0.13.0
mccabe==0.7.0
py4j==0.10.9.9
sortedcontainers==2.4.0
cssselect==1.2.0
datashader==0.18.2
anaconda-cli-base==0.6.0
streamlit==1.51.0
brotlicffi==1.0.9.2
packaging==24.2
packaging==26.0
gruut_lang_fr==2.0.2
pyobjc-framework-FSEvents==12.1
descartes==1.1.0
tzlocal==5.3.1
gmpy2==2.2.1
charset-normalizer==3.3.2
pyee==13.0.0
dask-expr==2.0.0
Bottleneck==1.4.2
PyDispatcher==2.0.7
binaryornot==0.4.4
conda==25.5.1
aext-project-filebrowser-server==4.26.1
chardet==5.2.0
cbor==1.0.0
Mako==1.3.10
jupyter-events==0.12.0
pypdf==6.7.4
tensorboard==2.20.0
sphinxcontrib-devhelp==2.0.0
bcrypt==5.0.0
conda-libmamba-solver==25.4.0
asyncssh==2.21.1
partd==1.4.2
typing_extensions==4.15.0
wasabi==1.1.3
babel==2.16.0
pycosat==0.6.6
toolz==1.0.0
navigator-updater==0.5.1
imagesize==1.4.1
fastjsonschema==2.21.2
incremental==24.7.2
Scrapy==2.13.3
qstylizer==0.2.2
parameterized==0.9.0
whisper==1.1.10
poyo==0.5.0
PyQt5_sip==12.13.0
aext-share-notebook-server==4.26.1
docopt==0.6.2
joblib==1.5.3
pexpect==4.8.0
watchdog==4.0.2
dask==2025.11.0
rtree==1.4.1
smmap==4.0.0
hf-xet==1.2.0
jaraco.functools==4.1.0
Jinja2==3.1.6
referencing==0.37.0
tornado==6.5.1
python-lsp-server==1.13.1
pluggy==1.5.0
coqpit-config==0.1.2
argon2-cffi-bindings==25.1.0
pooch==1.8.2
jinja2-time==0.2.0
MarkupSafe==3.0.3
langgraph==0.5.4
pip==26.0.1
dill==0.4.0
mypy==1.17.1
murmurhash==1.0.15
torch==2.9.1
warc3-wet==0.2.5
multipledispatch==1.0.0
encodec==0.1.1
linkify-it-py==2.0.3
archspec==0.2.3
itemloaders==1.3.2
distro==1.9.0
cloudpickle==3.1.1
graphviz==0.21
wcwidth==0.2.5
anaconda-auth==0.9.1
flatbuffers==25.12.19
rope==1.14.0
pydocstyle==6.3.0
opencv-python==4.13.0.92
narwhals==2.7.0
Pygments==2.19.2
multitasking==0.0.12
unlzw3==0.2.3
neurapilot==1.0.0
python-docx==1.2.0
rfc3986-validator==0.1.1
aiohappyeyeballs==2.6.1
sphinxcontrib-applehelp==2.0.0
ollama==0.6.1
torchvision==0.24.1
terminado==0.18.1
openai==1.57.4
attrs==25.4.0
lckr_jupyterlab_variableinspector==3.2.4
jaraco.context==0.0.0
jsonpointer==2.1
requests-toolbelt==1.0.0
contourpy==1.3.1
pyOpenSSL==25.3.0
pyviz_comms==3.0.6
propcache==0.3.1
snowballstemmer==2.2.0
monotonic-alignment-search==0.2.1
gruut_lang_en==2.0.1
typeguard==4.4.4
Send2Trash==1.8.2
xlsxwriter==3.2.9
Brotli==1.2.0
py-cpuinfo==9.0.0
lxml==5.4.0
pytrec_eval==0.5
numba==0.61.0
panel==1.8.3
einops==0.8.1
docutils==0.21.2
holoviews==1.22.0
nltk==3.9.2
superqt==0.7.6
httpx==0.28.1
sniffio==1.3.0
PyWavelets==1.9.0
pyobjc-core==12.1
QtPy==2.4.3
cattrs==25.3.0
backoff==2.2.1
cryptography==46.0.3
grpcio==1.76.0
tensorboard-data-server==0.7.2
peewee==3.19.0
lmdb==1.6.2
pyserial==3.5
mistune==3.1.2
safetensors==0.7.0
faster-whisper==1.2.1
Twisted==25.5.0
tokenizers==0.22.2
uvloop==0.22.1
fastapi==0.129.0
libarchive-c==5.1
opendrivefm==0.1.0
conda-package-handling==2.4.0
anaconda-catalogs==0.2.0
scipy==1.15.3
jupyter_server_terminals==0.5.3
jupyterlab==4.4.7
lief==0.16.4
posthog==5.4.0
tiktoken==0.8.0
coqui-tts==0.25.2
weasel==0.4.3
opencv-contrib-python==4.13.0.92
aiosignal==1.2.0
bleach==6.2.0
pyproject_hooks==1.2.0
altair==5.5.0
gruut_lang_es==2.0.1
anaconda-navigator==2.6.6
pydantic_core==2.41.4
intake==2.0.8
param==2.3.0
HeapDict==1.0.1
build==1.4.0
typing-inspection==0.4.2
frozendict==2.4.6
three-merge==0.1.1
aext-panels-server==4.26.1
aext-shared==4.26.1
ruamel.yaml.clib==0.2.14
keyring==25.7.0
pyquaternion==0.9.9
httpx-sse==0.4.3
debugpy==1.8.11
qtconsole==5.7.0
widgetsnbextension==4.0.14
arrow==1.4.0
aext-panels==4.26.1
pysbd==0.3.4
pandas==2.3.2
Cython==3.2.4
langcodes==3.5.1
scikit-image==0.25.2
six==1.17.0
xarray==2025.10.1
yarl==1.22.0
cytoolz==1.0.1
huggingface-hub==0.36.0
langsmith==0.1.147
requests-oauthlib==2.0.0
importlib_resources==6.5.2
greenlet==3.1.1
sklearn-compat==0.1.3
inscriptis==2.7.0
opentelemetry-exporter-otlp-proto-common==1.39.1
scikit-learn==1.8.0
QDarkStyle==3.2.3
langchain==0.3.7
xxhash==3.6.0
SudachiPy==0.6.10
textdistance==4.2.1
pyflakes==3.2.0
wandb==0.25.1
statsmodels==0.14.5
opentelemetry-semantic-conventions==0.60b1
parsel==1.10.0
tabulate==0.9.0
soundfile==0.13.0
pydantic-settings==2.10.1
notebook_shim==0.2.4
pyarrow==19.0.0
annotated-doc==0.0.4
lsprotocol==2025.0.0
comm==0.2.3
blis==0.7.11
websocket-client==1.8.0
